.info {
  color: white;
  margin-bottom: 20px;
}
.incitation {
  float: left;
  margin-top: 20px;
}

.outcitation {
  float: right;
  margin-top: 20px;
}

.coauthors {
  text-align: center;
  align-items: center;
}
